@import "tailwindcss";

/* View Transitions - Slower page transitions */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.8s;
}

/* Pretendard Font Family */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Ongeullip Cocoa Font - Primary font for both pages */
@font-face {
  font-family: 'Ongeullip Cocoa';
  src: url('/fonts/온글잎 코코아체.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
